.login_form {
    position: relative;
    width: 600px;
    height: 350px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 60px 100px;
    margin: 0 auto;
}

.login_form__input__first {
    margin-bottom: 30px;
}

.login_form__input__second {
    margin-bottom: 72px;
}

.login_form span {
    position: absolute;
    top: 200px;
    width: 300px;
    right: 50%;
    transform: translateX(50%);
    font-size: 13px;
    color: #ff7565;
}